<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yaowei.mapper.AddressMapper">

    <select id="queryByAid" parameterType="int" resultType="address">
    SELECT * FROM address WHERE aid = #{aid}
    </select>

    <select id="queryByUid" parameterType="int" resultType="address">
    SELECT * FROM address WHERE status = 1 AND uid = #{uid}
    </select>

    <insert id="doInsert" parameterType="map">
        INSERT INTO address (uid, name, tel, province, city, county, address, code) VALUES(#{uid},#{name},#{tel},#{province},#{city},#{county},#{address},#{code})
    </insert>

    <update id="updateStatus" parameterType="int">
        UPDATE address SET status = 0 WHERE aid = #{aid}
    </update>


</mapper>